---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?query=absurdistan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID V9gkWA8OAt2ZAeMl7ZJJoA0UxYEBOQ8bNNXacknr7VI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 15 Jan 2023 20:42:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&part=snippet&q=absurdistan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Goog-Api-Key:
      - AIzaSyAT_g9WFc1-QbXVQ5eyVVmd1Jedrg4lLMw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Sun, 15 Jan 2023 20:42:50 GMT
recorded_with: VCR 6.1.0
